*,*::before,*::after{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body{
    background-color: #142850;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: #27496D;
    color: white;
    border: 2px solid #27496D;
    border-radius: 20px;
    /* height: 60%; */
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 45px 0;
    font-size: 35px;
    color: white;
    
}
input,button{
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
    border: 2px solid #00A8CC;
    outline: none;
    margin-bottom: 45px;
    width:80%;

}
input::placeholder{
    color: white;
}
#submit{
    cursor: pointer;
    width: 33%;
}
h2{
    margin: 35px ;
}
span{
    display: none;
    color: red;
}
li{
    display: flex;
    padding: 0 5px;
    gap:1rem ;
}
li:hover span{
    display: block;
    cursor: pointer;
}
.hidden{
    display: none;
}


